<div class="the-container">
    <a href="/" class="logo"><img src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Fate_Zero_logo.png" height="100px" width="100px" alt="Logo Falso"></a>
    <!--o logo em forma de imagem está dentro do link-->

    <!-- </div> -->
    <div class="the-menu">
        <nav class="menu">
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/about">Sobre</a></li>
                <li><a href="/products">Produtos</a>
                    <ul>
                        <li><a href="/login">Login In</a></li>
                        <li><a href="/register">Cadastro</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    
</div>
