<div class="the-container">
    <a href="/" class="logo"><img src="/images/squar-removebg.png" width="200px" alt="SQUAR"></a>
    <!--o logo em forma de imagem está dentro do link-->

    <!-- </div> -->
    <div class="the-menu d-flex align-items-center">
        <nav class="menu d-flex align-items-center">
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/about">Sobre</a></li>
                <li><a href="/products">Produtos</a>
                    <ul>
                        <li><a href="/login">Login In</a></li>
                        <li><a href="/register">Cadastro</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    
</div>
