<!DOCTYPE html>
<html>
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/login.css"/>
</html>
<body>
    <div class="the-container">
        <div class="image"><a href="/"class="logo"><img src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Fate_Zero_logo.png" height="100px" width="100px" alt="Logo Falso"></a></div> <!--o logo em forma de imagem está dentro do link-->
        <main class="container">
            <form action="" method="POST"> <!-- Adicionado action="" e method="POST"-->
                <div class="row2">
                    <div class="box card">
                        <div class="mb-3">
                            <h1 class="title">Faça login e aproveite os produtos cadastrados disponíveis</h1>
                            <div class="card-body">
                                <label for="email" class="form-label"><strong>E-mail</strong></label>
                                <input type="email" class="form-control" id="email" name="email"> <!-- Adicionei o name="email" para capturar esse dado no req.body -->
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="card-body">
                                <label for="password" class="form-label"><strong>Senha</strong></label>
                                <input type="password" class="form-control" id="password" name="password"> <!-- Adicionei o name="password" para capturar esse dado no req.body -->
                            </div>
                            <div class="buttom">
                                <button type="submit" class="btn btn-primary">Entrar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mini-menu">
                    <ul class="list">
                        <li><a href="/">Puts, esqueci minha senha</a></li>
                        <li>·</li>
                        <li><a href="/register">Não possui cadastro?</a></li>
                    </ul>
                </div>
                <!-- <div class="buttom">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </div> -->
            </form>
        </main>
    </div>
        <!-- <div>
            <nav class="menu">
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/about">Sobre</a></li>
                <li><a href="/products">Você está aqui</a> 
                <ul>
                    <li><a href="/login">Especificamente aqui</a></li>
                    <li><a href="/register">Cadastre-se</a></li>
                </ul>
                </li>
            </ul>
            </nav>
        </div> -->
    </div>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>